name: Run tests

on:
  - push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          path: "${{ github.repository }}"
      - name: Install dependencies
        run: |
          pip install -r requirements-dev.txt
          make test